:root{
    --vermelho: #E50914;
    --preta: #141414;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Base*/
body{
    background: var(--preta);
    font-family: 'Times New Roman', Times, serif;
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
}

.logo{
    color: var(--vermelho);
    font-family: Arial;
    font-weight: bold;
    font-size: 40px;
}
header nav a{
    text-decoration: none;
    color:#AAA;
    margin-right:10px;
}
header nav a:hover{
    color:#FFFF;
}

/*Filme principal*/

.titulo{
    color: white;
    font-size: 40px;
}

.filme-principal{
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50), rgba(0,0,0,.50)100%), url('/img/orphan-black.jpg');
    
    height: 350px;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.filme-principal .descricao{
    margin-bottom: 40px;
    color: white;
}
