:root{
    --vermelho: #E50914;
    --preta: #141414;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Base*/
body{
    background: var(--preta);
    font-family: 'Times New Roman', Times, serif;
}
.container{
    margin-left: 20px;
}
header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
}

.logo{
    color: var(--vermelho);
    font-family: Arial;
    font-weight: bold;
    font-size: 40px;
}
header nav a{
    text-decoration: none;
    color:#AAA;
    margin-right:10px;
}
header nav a:hover{
    color:#FFFF;
}

/*Filme principal*/

.titulo{
    color: white;
    font-size: 25px;
    margin-top: 15%;
    font-family: 'Arial';
}

.filme-principal{
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50), rgba(0,0,0,.50)100%), url('/img/orphan-black.jpg');
    
    height: 380px;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.filme-principal .container{
    width: 70%;
}

.filme-principal .descricao{
    margin-top: 15px;
    margin-bottom: 40px;
    color: white;
}
.botao{
    background-color: rgba(0,0,0,.50);
    border: none;
    color: white;

    padding: 15px 30px;
    margin-right: 15px;
    font-size: 12px;

    cursor:pointer;
    transition: .3s ease all;
}
.botao:hover{
    background-color:white;
    color: black;
}
.botao i{
    margin-right: 8px;
}
.box-filme{
    height: 100%;
    width: 100%;
    display: block;
}
.carrosel-filmes{
    /*margin-top: 20px;*/
}
h4{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(255,255,255,.50);
    text-align: center;
    margin-top: 20px;
    margin-bottom: 16px;
}